* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.menu-btn {
  display: none;
}

@media screen and (max-width:768px) {
  .menu-btn {
    background-color: transparent;
    border: none;
    outline: none;
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    top: 20;
    right: 20;
  }
}

.menu-btn .bar {
  width: 30px;
  height: 4px;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: black;
  transition: 0.3s;
}

.menu-btn .bar:nth-child(2) {
  top: calc(50% - 9px);
}

.menu-btn .bar:nth-child(3) {
  top: calc(50% + 9px);
}

.menu-btn.active .bar:nth-child(1) {
  display: none;
}

.menu-btn.active .bar:nth-child(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active .bar:nth-child(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.container {

  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding-top: 21px;
  background-color: rgba(121, 119, 119, 0.521);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-list {
  display: flex;
  gap:50px;
}


@media screen and (max-width:768px) {
  .header-list {
    justify-content:start;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding-left: 26px;
    background-color: white;
    transition: 0.5s;
    transform: translateX(100%);
    flex-direction: column;
    padding-top:66px;
    
  }

  .header-item {
    font-size: 30px;
    line-height: 38px;
    color: black;
  }

  .header-item:nth-child(1) { 
  color: #090909;
  font-weight: 700;
  }

  .header-list.active {
    transform: translateX(0);
}
}

.bunner {
  background-image: url(../img/Rectangle.png);
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  align-items: center;
}

.bunner h1 {
  font-size: 55px;
  font-weight: 300;
  color: #e9e9e9;
}

.bunner p {
  font-size: 22px;
  font-weight: 400;
  color: #e9e9e9;
  padding-bottom: 29px;
  padding-top: 25px;
}

.header-item {
  color: white;
  font-size: 18;
  font-weight: 400;
}

@media screen and (max-width:768px) {
  .header-item {
    color: black;
  }
}

.btn {
  background: #28A745;
  padding: 10px 30px 10px 40px;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  font-size: 18px;
  border: none;
}

.btn i {
  padding-right: 6px;
}

.servises-list {
  display: flex;
  padding: 40px 0 20px 0;
  justify-content: space-around;
}

.servises-item i {
  width: 67px;
  height: 67px;
  background: #28A745;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto;
}

.servises-item img {
  max-width: 100%;
}

.servises-item {
  max-width: 320px;
}

.servises-item p {
  padding-top: 15px;
}


.servises-list {
  display: flex;
  gap: 70px;
  text-align: center;
}

@media screen and (max-width:480px) {
  .servises-list {
    flex-direction: column;
    align-items: center;
  }
}


.servises-inner p {
  display: flex;
}

.solution {
  background-color: #28A745;
}

.solution-inner {
  display: flex;
  align-items: center;
}

@media screen and (max-width:768px) {
  .solution-inner {
    flex-direction: column;
  }
}


.solution-inner-img {
  width: 50%;
  height: auto;
  display: flex;
}

@media screen and (max-width:768px) {
  .solution-inner-img {
    width: 100%;
  }
}


.solution-inner-img img {
  height: 100%;
  object-fit: cover;
  min-height: 356px;
  width: 100%;
}

.solution-inner-text {
  max-width: 50%;
  padding-left: 30px;
  color: #FFFFFF;
  font-weight: 400;
}


@media screen and (max-width:768px) {
  .solution-inner-text {
    max-width: 100%;
  }
}

.solution-inner-text h2 {
  font-weight: 300;
  font-size: 38px;
  line-height: 48px;
  padding-bottom: 26px;
}

.solution-inner-text p {
  padding-bottom: 17px;
}

.solution-title {
  font-size: 20px;
}

@media screen and (max-width:768px) {
  .solution-title {
    padding-top: 30px;
  }
}

.btn-second {
  margin: 0;
  box-shadow: inset 0 0 0 1px #fff;
}

@media screen and (max-width:768px) {
  .btn-second {
    margin-bottom: 30px;
  }
}

.btn-second:hover {
  color: #28A745;
  background-color: #FFF;
  transition: 0.3s;
}

.business-list {
  display: flex;
  flex-wrap: wrap;
}

.business-item {
  width: 25%;
  padding: 4px;
}

@media screen and (max-width:768px) {
  .business-item {
    width: 50%;
  }
}

@media screen and (max-width:480px) {
  .business-item {
    width: 100%;
  }
}


.business-list img {
  width: 100%;
}

.business-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  padding-bottom: 15px;
  padding-top: 50px;
}

.business h2 {
  font-weight: 300;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #333333;
  padding-bottom: 43px;
}

@media screen and (max-width:768px) {
  .business h2 {
    padding-bottom: 20px;
  }
}

.business p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #333333;
  padding-bottom: 40px;
}

@media screen and (max-width:768px) {
  .business p {
    padding-bottom: 10px;
  }
}


@media screen and (max-width:480px) {
  .business p {
    padding-bottom: 15px;
  }
}

.business {
  padding-bottom: 50px;
}

.blog {
  background-color: #0284D0;
}

.blog-inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  justify-content: space-between;
}

@media screen and (max-width:768px) {
  .blog-inner {
    flex-direction: column-reverse;
    display: flex;
  }
}

.blog-inner-img {
  width: 50%;
  height:auto ;
  display: flex;
}

@media screen and (max-width:768px) {
  .blog-inner-img {
    width: 100%;
  }
}

.blog-inner-img img {
  height: auto;
  object-fit: cover;
  width: 100%;
}

.blog-inner-text {
  max-width: 50%;
  padding-left: 30px;
  color: #FFFFFF;
  font-weight: 400;
}


@media screen and (max-width:768px) {
  .blog-inner-text {
    width: 100%;
    max-width: 100%;
  }
}

.blog-inner-text h2 {
  font-weight: 300;
  font-size: 38px;
  line-height: 48px;
  padding-bottom: 20px;
}

.blog-inner-text p {
  font-size: 20px;
}

@media screen and (max-width:1200px) {
  .blog-inner-text p {
    font-size: 17px;
  }
}


.blog-title {
  font-size: 20px;
  padding-bottom: 5px;
}

@media screen and (max-width:768px) {
  .blog-title {
    padding-top: 30px;
  }
}


.btn-third {
  margin: 0;
  box-shadow: inset 0 0 0 1px #fff;
  background-color: #0284D0;
  margin-top: 15px;
}

@media screen and (max-width:768px) {
  .btn-third {
    margin-bottom: 30px;
  }
}


.btn-third:hover {
  color: #0284D0;
  background-color: #FFF;
  transition: 0.3s;
}

.team {
  padding-top: 50px;
}

.team-title {
  text-align: center;
}

.team h2 {
  padding-top: 16px;
  text-align: center;
}

.team-text-peop {
  padding-top: 32px;
  text-align: center;
}

.team-list {
  display: flex;
  gap: 19px;
  padding-top: 45px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

@media screen and (max-width:768px) {
  .team-list {
    flex-direction: column;
  }
}

.team-item {
  width: 100%;
}

.team-item-img img {
  width: 100%;
}

.team-people {
  text-align: center;
  padding-bottom: 14px;
}

.team-text {
  text-align: center;
}

.socials {
  position: absolute;
  top: 45%;
  left: 24%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  text-align: center;
}


@media screen and (max-width:1268px) {
  .socials {
    display: none;
  }
}


@media screen and (max-width:768px) {
  .socials {
    display: none;
  }
}


.socials a {
  display: flex;
  text-align: center;
}

.team-item-img {
  position: relative;
  width: 100%;
}


.contacts {
  padding-top: 60px;
}

.contacts-inner-img {
  display: flex;
  width: 50%;
}

@media screen and (max-width:768px) {
  .contacts-inner-img {
    width: 100%;
  }
}

.contacts-inner-img img {
  width: 100%;
}


.email {
  background-color: #F4F4F4;
  width: 50%;
  padding-left: 30px;
}

@media screen and (max-width:768px) {
  .email {
    width: 100%;
  }
}

.email-p {
  font-weight: 300;
  font-size: 38px;
  line-height: 48px;
  padding-top: 80px;
  padding-bottom: 34px;
}

@media screen and (max-width:1268px) {
  .email-p {
    padding-top: 5%;
  }
}

.contacts-inner {
  display: flex;
}

@media screen and (max-width:768px) {
  .contacts-inner {
    flex-direction: column;
  }
}

.email-btn {
  padding-right: 30px;
  max-height: 42px;
  padding-left: 0px;
  width: 90%;
  margin: 0;
}

@media screen and (max-width:768px) {
  .email-btn {
    margin-bottom: 40px;
  }
}

.email input {
  width: 90%;
  border: 1px solid #F5F5F5;
  border-radius: 0px;
  max-height: 40px;
  height: 100%;
  padding-left: 5px;
}

.name {
  margin-bottom: 40px;
}

@media screen and (max-width:1268px) {
  .name {
    margin-bottom: 4%;
  }
}

@media screen and (max-width:768px) {
  .name {
    padding: 5px;
  }
}

.em {
  margin-bottom: 60px;
}

@media screen and (max-width:1268px) {
  .em {
    margin-bottom: 5%;
  }
}


@media screen and (max-width:768px) {
  .em {
    padding: 5px;
  }
}

footer {
  background-color: #333333;
  height: 110px;
}

.footer-p {
  color: #fff;
  text-align: center;
}

.footer-list {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-top: 20px;
  padding-bottom: 10px;
  justify-content: center;
}